<%= simple_form_for(@ip4_network) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :desc %>
    <%= f.input :address %>
    <%= f.input :mask %>
    <%= f.association :locations %>
    <%= f.association :ip4_addresses %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
