<%= simple_form_for(@location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :desc %>
    <%= f.association :org %>
    <%= f.association :ip4_networks %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
